.section{
  margin-top: 2vh;
  display: flex;
  justify-content: center;
  color: white;
}

.header{
  display: flex;
  justify-content: center;
  color: white;
}
.color{
  background-color: white;
  color: white;
}